In [1]:
import numpy as np
import pandas as pd

In [26]:
df = pd.DataFrame({
    'age': [39, 50, 38, 53, 28],
    'workclass': ['State-gov', 'Self-emp-not-inc', 'Private', 'Private', 'Private'],
    'fnlwgt': [77516, 83311, 215646, 234721, 338409],
    'education': ['Bachelors', 'Bachelors', 'HS-grad', '11th', 'Bachelors'],
    'education-num': [13, 13, 9, 7, 13],
    'marital-status': ['Never-married', 'Married-civ-spouse', 'Divorced', 
                       'Married-civ-spouse', 'Married-civ-spouse'],
    'occupation': ['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners', 
                   'Handlers-cleaners', 'Prof-specialty'],
    'relationship': ['Not-in-family', 'Husband', 'Not-in-family', 'Husband', 'Wife'],
    'race': ['White', 'White', 'White', 'Black', 'Black'],
    'sex': ['Male', 'Male', 'Male', 'Male', 'Female'],
    'capital-gain': [2174, 0, 0, 0, 0],
    'capital-loss': [0, 0, 0, 0, 0],
    'hours-per-week': [40, 13, 40, 40, 40],
    'native-country': ['United-States', 'United-States', 'United-States', 
                       'United-States', 'Cuba'],
    'salary': ['<=50K', '<=50K', '<=50K', '<=50K', '<=50K']
    })
df

In [6]:
race = df['race'].value_counts()
print(race)

race
White    3
Black    2
Name: count, dtype: int64

In [8]:
avg_men = df[df['sex'] == 'Male']['age'].mean()
print(avg_men)

45.0

In [13]:
percentage_bachelors = (df[df['education'] == 'Bachelors'].shape[0] / df.shape[0]) * 100
percentage_bachelors = round(percentage_bachelors, 1)
print(f"Percentage Bachelor's: {percentage_bachelors}%")

Percentage Bachelor's: 60.0%

In [15]:
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
higher_education_rich = (higher_education['salary'] == '>50K' ).mean() * 100
higher_education_rich = round(higher_education_rich)
print(f"Percentage's: {higher_education_rich}%")

Percentage's: 0%

In [16]:
nothigher_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
nothigher_education_rich = (nothigher_education['salary'] == '>50K' ).mean() * 100
nothigher_education_rich = round(nothigher_education_rich)
print(f"Percentage's: {nothigher_education_rich}%")

Percentage's: 0%

In [17]:
min_works = df['hours-per-week'].min()
print(min_works)

13

In [19]:
work_person = df[df['hours-per-week'] == 13]
min_works_person = (work_person['salary'] == '>50K').mean()
min_works_person = round(min_works_person)
print(f"Percentage's: {min_works_person}%")

Percentage's: 0%

In [24]:
cnt = df['native-country'].value_counts()
print(cnt)

native-country
United-States    4
Cuba             1
Name: count, dtype: int64

In [34]:
country_higher_income = df[df['salary'] == '>50K']
print(country_higher_income[['native-country', 'salary']])

Empty DataFrame
Columns: [native-country, salary]
Index: []

In [39]:
if df['native-country'].isin(['India']).any():
    print('India is in the data')
else:
    print('India is not in the data')

India is not in the data